<%
  away = series.away_team_id.titleize
  home = series.home_team_id.titleize
%>

<h4><%= away %> vs. <%= home %></h4>

<div>
  <%= simple_form_for @series do |f| %>
    <p><%= f.input :away_team_wins, label: "#{away} wins" %></p>
    <p><%= f.input :home_team_wins, label: "#{home} wins" %></p>
       <%= f.input :series_id, as: :hidden, input_html: { value: "#{series.id}" } %>
    <p><%= f.button :submit %> <%= link_to 'Cancel', series_index_path %></p>
  <% end %>
</div>
